AdminkaV1/Wcf.Client/Service References/TraceServiceReference/TraceService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="https://github.com/rpokrovskij/Vse/Adminka-v1" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://github.com/rpokrovskij/Vse/Adminka-v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="https://github.com/rpokrovskij/Vse/Adminka-v1/Imports">
      <xsd:import schemaLocation="http://localhost:64220/TraceService.svc?xsd=xsd0" namespace="https://github.com/rpokrovskij/Vse/Adminka-v1" />
      <xsd:import schemaLocation="http://localhost:64220/TraceService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64220/TraceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Vse.AdminkaV1.DomLogging" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TraceService_GetTrace_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrace" />
  </wsdl:message>
  <wsdl:message name="TraceService_GetTrace_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTraceResponse" />
  </wsdl:message>
  <wsdl:message name="TraceService_GetTrace_RoutineErrorFault_FaultMessage">
    <wsdl:part name="detail" element="tns:RoutineError" />
  </wsdl:message>
  <wsdl:message name="TraceService_GetTrace_AuthenticationFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:AuthenticationFault" />
  </wsdl:message>
  <wsdl:portType name="TraceService">
    <wsdl:operation name="GetTrace">
      <wsdl:input wsaw:Action="https://github.com/rpokrovskij/Vse/Adminka-v1/TraceService/GetTrace" message="tns:TraceService_GetTrace_InputMessage" />
      <wsdl:output wsaw:Action="https://github.com/rpokrovskij/Vse/Adminka-v1/TraceService/GetTraceResponse" message="tns:TraceService_GetTrace_OutputMessage" />
      <wsdl:fault wsaw:Action="https://github.com/rpokrovskij/Vse/Adminka-v1/TraceService/GetTraceRoutineErrorFault" name="RoutineErrorFault" message="tns:TraceService_GetTrace_RoutineErrorFault_FaultMessage" />
      <wsdl:fault wsaw:Action="https://github.com/rpokrovskij/Vse/Adminka-v1/TraceService/GetTraceAuthenticationFaultFault" name="AuthenticationFaultFault" message="tns:TraceService_GetTrace_AuthenticationFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>