AdminkaV1/Wcf.Client/Service References/TraceServiceReference/TraceService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Vse.AdminkaV1.DomLogging" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Vse.AdminkaV1.DomLogging" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Trace">
    <xs:sequence>
      <xs:element minOccurs="0" name="Operations" nillable="true" type="tns:ArrayOfOperation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Trace" nillable="true" type="tns:Trace" />
  <xs:complexType name="ArrayOfOperation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Operation" nillable="true" type="tns:Operation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOperation" nillable="true" type="tns:ArrayOfOperation" />
  <xs:complexType name="Operation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Application" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FinishActivityRecord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Input" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Output" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartActivityRecord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VerboseRecord" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Operation" nillable="true" type="tns:Operation" />
</xs:schema>