AdminkaV1/WcfService.Client/Service References/TraceServiceReference/TraceService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="https://dashboardcode.com/Adminka-V1" elementFormDefault="qualified" targetNamespace="https://dashboardcode.com/Adminka-V1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64220/TraceService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="RoutineError">
    <xs:sequence>
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoutineTag" nillable="true" type="tns:RoutineTag" />
      <xs:element minOccurs="0" name="UserContextExceptionCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoutineError" nillable="true" type="tns:RoutineError" />
  <xs:complexType name="RoutineTag">
    <xs:sequence>
      <xs:element minOccurs="0" name="CorrelationToken" type="ser:guid" />
      <xs:element minOccurs="0" name="Member" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Namespace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoutineTag" nillable="true" type="tns:RoutineTag" />
  <xs:complexType name="AuthenticationFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticationFault" nillable="true" type="tns:AuthenticationFault" />
</xs:schema>