AdminkaV1/WcfService.Client/Service References/TraceServiceReference/TraceService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://adminka-v1.dashboardcode.com/TraceService" elementFormDefault="qualified" targetNamespace="https://adminka-v1.dashboardcode.com/TraceService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64220/TraceService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:64220/TraceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DashboardCode.AdminkaV1.DomLogging" />
  <xs:element name="GetTrace">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="correlationToken" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTraceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DashboardCode.AdminkaV1.DomLogging" minOccurs="0" name="GetTraceResult" nillable="true" type="q2:Trace" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>